<div class="calendar">
    <div class="calendar_header">
        <div class="calendar_nav">
            <button class="nav-btn go-prev">&lt;</button>
            <span class="year"></span>년
            <span class="month"></span>월
            <button class="nav-btn go-next">&gt;</button>
        </div>
    </div>
    <div class="calendar_main">
        <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
        </div>
        <div class="dates"></div>
    </div>

    <!--diet-wrapper를 클릭시 detail.html로 화면 이동-->
    <div class="diet-wrapper">
        <div class="diet-bg">
            <button class="diet-close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
var message = '{{ message.message }}';
alert(message);
</script>
{% endfor %}
{% endif %}