{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'dietapp/css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'dietapp/css/diet.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
<div class="container">
        {% if daily %}
            {% include 'dietapp/daily/result.html' %}
        {% else %}
            {% include 'dietapp/daily/upload.html' %}
        {% endif %}
</div>
{% endblock %}
<script src="{% static 'dietapp/js/multiple_upload.js' %}"></script>