<div id="root">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <h2 class="title">Upload Here</h2>
        <hr>
        <div class="contents">
        <!-- Drop Box 부분 -->
            <div class="upload-box">
                <div id="drop-file" class="drag-file">
                <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                <p class="message">Drag files to upload</p>
                </div>
                <label class="file-label" for="chooseFile">Choose File</label>
                <input class="file" id="chooseFile" name="upload_diet" type="file" onchange="dropFile.handleFiles(this.files)" accept="image/png, image/jpeg, image/gif">
            </div>
        <!-- Image Uploading bar Js에서 렌더링-->

        <div id="files" class="files">
            <button class="btn btn-success" type="submit">Upload</button>
        </div>

    </div>
</form>